.xuebi{
	background-image:url(../img/focus_list.png);
}
.menu_sprite{
	background-image: url(../img/menu_img.png);
}
.all_sprite{
	background-image: url(../img/eg_bg.png);
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.love a:hover {
	color:#699f00 ;
}
.love_two a:hover {
	background:#688a00 ;
}

.ttxt{
	color: #333;
	font-size: 12px;
}
.more{
	margin-top: 22px;
	color: #699f00 ;
}
.black{
	color: black;
}
.margin_bottom{
	margin-bottom: 0;
}
.mr{
	margin-right: 20px;
}
.ml{
	margin-left: 20px;
}
.size{
	font-size: 20px;
}
.star{
	width: 180px;
	height: 137px;
}
.suit{
	width: 1180px;
}
.hd{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 54px;
	height: 16px;
	background: black;
	opacity: 0.5;
	filter:alpha(opacity=50); 
	color: white;
}
.block{
	display: block;
}
.p_color{
	color: #999;
}
.t_size{
	font-size: 12px;
	color: black;
	margin-left: 5px;
}
.p_1080{
	display: block;
	width: 42px;
	height: 16px;
	font-size: 12px;
	background: black;
	text-align: center;
	opacity: 0.5;
	filter:alpha(opacity=50); 
}
.bgg{
	background: red;
}
.mab{
	margin-bottom: 13px;
}
.mt{
	margin-top: 25px;
}
.blue{
	background: blue;
}
.white{
	color: white;
}

.line1{
	
}
.focus_green{
	background: #3fb560;
}
.focus_green_big{
	font-size: 38px;
}

/*
 线效果
*/

.focus_item li:hover .line_top{
	left:0;
}
.menu_item_box:hover .line_top{
	left:0;
}
.focus_item li:hover .line_right{
	top:0;
}
.menu_item_box:hover .line_right{
	top:0;
}
.focus_item li:hover .line_bottom{
	right:0;
}
.menu_item_box:hover .line_bottom{
	right:0;
}
.focus_item li:hover .line_left{
	bottom:0;
}
.menu_item_box:hover .line_left{
	bottom:0;
}

.line{
	position: absolute;
	transition: 0.3s;
	background: #3fb560;
}
.line_top{
	width: 100%;
	height: 2px;
	top:0;
	left: -100%;
}
.line_right{
	width: 2px;
	height: 100%;
	top:-100%;
	right: 0;
}
.line_bottom{
	width: 100%;
	height: 2px;
	right:-100%;
	bottom: 0;
}
.line_left{
	width: 2px;
	height: 100%;
	bottom:-100%;
	left: 0;
}